body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red {
  background-color:#99ddff;
  color: black;
}

.green {
  background-color: #ffff99;
  color: black;
}
.yellow {
  background-color: #ff9900;
  color: white;
}
.blue{
  background-color: #e65c00;
  color: white;

}